
* {
    margin: 0;
    padding: 0;
}
.wraper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pdf-container {
    margin: 1px;
    width: 790px;
    height: 1118px;
    position: relative;
}

.pdf-img {
    width: 100%;
    height: 100%;
}

.print {
    display: flex;
    text-decoration-line: underline;
    font-weight: bold;
    align-items: center;
}


/* ? Guarantee Recipient */
.surname {
    position: absolute;
    top: 155px;
    left: 170px;
    width: 173px;
    height: 25px;
    background-color: rgb(88, 185, 230);
}


.givennames {
    position: absolute;
    top: 155px;
    left: 362px;
    width: 180px;
    height: 25px;
    background-color: rgb(88, 185, 230);
}

.date-of-birth-guarantee-recipient {
    position: absolute;
    top: 200px;
    left: 250px;
    width: 180px;
    height: 25px;
    background-color: rgb(88, 185, 230);
}

.nationality-guarantee-recipient {
    position: absolute;
    top: 245px;
    left: 250px;
    width: 180px;
    height: 25px;
    background-color: rgb(88, 185, 230);
}

.passport-num-guarantee-recipient {
    position: absolute;
    top: 245px;
    left: 600px;
    width: 95px;
    height: 25px;
    background-color: rgb(88, 185, 230);
}

.adress-in-korea-recipient {
    position: absolute;
    top: 293px;
    left: 158px;
    width: 385px;
    height: 25px;
    background-color: rgb(88, 185, 230);
}

.phone-num-guarantee-recipient {
    position: absolute;
    top: 293px;
    left: 548px;
    width: 155px;
    height: 25px;
    background-color: rgb(88, 185, 230);
}

.visa {
    position: absolute;
    top: 332px;
    left: 250px;
    width: 155px;
    height: 25px;
    background-color: rgb(88, 185, 230);
}
/* ? Guarantee Recipient */


/* ? Guarantor */
.fullname {
    position: absolute;
    top: 432px;
    left: 185px;
    width: 255px;
    height: 25px;
    background-color: rgb(88, 185, 230);
}

.nationality-guarantor {
    position: absolute;
    top: 472px;
    left: 185px;
    width: 255px;
    height: 25px;
    background-color: rgb(88, 185, 230);
}

.date-of-birth-guarantor {
    position: absolute;
    top: 519px;
    left: 185px;
    width: 255px;
    height: 25px;
    background-color: rgb(88, 185, 230);
}

.phone-num-guarantor {
    position: absolute;
    top: 519px;
    left: 550px;
    width: 155px;
    height: 25px;
    background-color: rgb(88, 185, 230);
}

.adress-in-korea-guarantor {
    position: absolute;
    top: 560px;
    left: 185px;
    width: 455px;
    height: 25px;
    background-color: rgb(88, 185, 230);
}

.relationship {
    position: absolute;
    top: 603px;
    left: 280px;
    width: 205px;
    height: 25px;
    background-color: rgb(88, 185, 230);
}
.period-of-guarantee {
    position: absolute;
    top: 736px;
    left: 280px;
    width: 205px;
    height: 25px;
    background-color: rgb(88, 185, 230);
}
/* ? Guarantor */



.year {
    position: absolute;
    top: 965px;
    left: 490px;
    width: 50px;
    height: 20px;
    background-color: rgb(88, 185, 230);
}

.month {
    position: absolute;
    top: 965px;
    left: 580px;
    width: 30px;
    height: 20px;
    background-color: rgb(88, 185, 230);
}

.day {
    position: absolute;
    top: 965px;
    left: 645px;
    width: 30px;
    height: 20px;
    background-color: rgb(88, 185, 230);
}

.fullnames-sign {
    position: absolute;
    top: 1002px;
    left: 450px;
    width: 155px;
    height: 20px;
    background-color: rgb(88, 185, 230);
}

.signature {
    position: absolute;
    top: 1002px;
    left: 618px;
    width: 85px;
    height: 20px;
    background-color: rgb(88, 185, 230);
} 